#### Plant_planet_data

In [ ]:
import geopandas as gpd
from shapely.geometry import shape
import pandas as pd
import numpy as np

In [184]:

df_plant=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/PLANT_PLANET_CSV.csv",encoding='latin-1')
df_plant['host_name'] = 'plant for plant'
df_plant["site_id_reported"]=['reforest_site_{}'.format(i+1) for i in range(len(df_plant))]
df_plant['url'] = 'https://web.plant-for-the-planet.org/en/sirpnigeria-org?site=site_bKgRAzMysTSivm1'
df_plant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       795 non-null    object
 1   site_id_reported          795 non-null    object
 2   trees_planted_reported    795 non-null    int64
 3   country                   793 non-null    object
 4   description_reported      795 non-null    object
 5   planting_date_reported    519 non-null    object
 6   survival_rate_reported    546 non-null    float64
 7   geometry_reported         775 non-null    object
 8   site_sqkm                 775 non-null    float64
 9   species_planted_reported  0 non-null      float64
 10  species_count_reported    0 non-null      float64
 11  host_name                 795 non-null    object
 12  url                       795 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 80.9+ KB

In [185]:
df_plant_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_plant_planet.csv",encoding='latin-1')
df_plant_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        775 non-null    int64
 1   country                           774 non-null    object
 2   description_reported              775 non-null    object
 3   host_name                         775 non-null    object
 4   planting_date_reported            511 non-null    object
 5   project_id_reported               775 non-null    object
 6   site_id_reported                  775 non-null    object
 7   site_sqkm                         775 non-null    float64
 8   survival_rate_reported            530 non-null    float64
 9   trees_planted_reported            775 non-null    int64
 10  url                               775 non-null    object
 11  geometry_reported                 774 non-null    object
 12  Top_Three_NDVI_Months             775 non-null    object
 13  species_planted_reported          0 non-null      float64
 14  species_count_reported            0 non-null      float64
 15  built_area                        775 non-null    float64
 16  intersecting_roads_count          775 non-null    int64
 17  total_road_length_km              775 non-null    float64
 18  loss_pre_5                        501 non-null    float64
 19  loss_post_3                       510 non-null    float64
 20  loss_post_5                       510 non-null    float64
 21  tree_cover_area_2020              775 non-null    float64
 22  tree_cover_area_2015              775 non-null    float64
 23  tree_cover_area_2010              775 non-null    float64
 24  tree_cover_area_2005              775 non-null    float64
 25  tree_cover_area_2000              775 non-null    float64
 26  cropland gain from trees          775 non-null    float64
 27  cropland loss to tree             775 non-null    float64
 28  permanent water                   775 non-null    float64
 29  short vegetation after tree loss  775 non-null    float64
dtypes: float64(18), int64(3), object(9)
memory usage: 181.8+ KB

In [186]:
df_plant_2["Top_Three_NDVI_Months"]

0       [5, 3, 4]
1       [5, 3, 6]
2      [4, 8, 12]
3      [8, 4, 12]
4       [3, 4, 8]
          ...
770     [7, 8, 4]
771    [7, 8, 11]
772     [6, 9, 5]
773    [6, 9, 10]
774     [1, 7, 4]
Name: Top_Three_NDVI_Months, Length: 775, dtype: object

#### Tree_Nation

In [187]:
df_nation=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/TREE_NATION.csv",encoding='latin-1')
df_nation['host_name'] = 'Tree Nation'
df_nation['url'] = 'https://tree-nation.com/projects'
df_nation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   planting_date_reported    376 non-null    object
 1   description_reported      374 non-null    object
 2   site_id_reported          376 non-null    int64
 3   project_id_reported       376 non-null    int64
 4   trees_planted_reported    376 non-null    int64
 5   geometry_reported         376 non-null    object
 6   site_sqkm                 375 non-null    float64
 7   country                   360 non-null    object
 8   survival_rate_reported    0 non-null      float64
 9   species_count_reported    0 non-null      float64
 10  species_planted_reported  0 non-null      float64
 11  host_name                 376 non-null    object
 12  url                       376 non-null    object
dtypes: float64(4), int64(3), object(6)
memory usage: 38.3+ KB

In [188]:
df_nation_2 =pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_tree_nation_reshape.csv",encoding='latin-1')
df_nation_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        376 non-null    int64
 1   country                           360 non-null    object
 2   description_reported              374 non-null    object
 3   host_name                         376 non-null    object
 4   planting_date_reported            376 non-null    object
 5   project_id_reported               376 non-null    int64
 6   site_id_reported                  376 non-null    int64
 7   site_sqkm                         375 non-null    float64
 8   trees_planted_reported            376 non-null    int64
 9   url                               376 non-null    object
 10  geometry_reported                 376 non-null    object
 11  Top_Three_NDVI_Months             376 non-null    object
 12  survival_rate_reported            0 non-null      float64
 13  species_count_reported            0 non-null      float64
 14  species_planted_reported          0 non-null      float64
 15  intersecting_roads_count          376 non-null    int64
 16  total_road_length_km              376 non-null    float64
 17  built_area                        376 non-null    float64
 18  loss_pre_5                        376 non-null    float64
 19  loss_post_3                       319 non-null    float64
 20  loss_post_5                       319 non-null    float64
 21  tree_cover_area_2000              376 non-null    float64
 22  tree_cover_area_2005              376 non-null    float64
 23  tree_cover_area_2010              376 non-null    float64
 24  tree_cover_area_2015              376 non-null    float64
 25  tree_cover_area_2020              376 non-null    float64
 26  cropland gain from trees          376 non-null    float64
 27  cropland loss to tree             376 non-null    float64
 28  permanent water                   376 non-null    float64
 29  short vegetation after tree loss  376 non-null    float64
dtypes: float64(18), int64(5), object(7)
memory usage: 88.2+ KB

In [ ]:
df_nation_2[""]

#### Open_Forest_protocol

In [189]:
import pandas as pd
df_ofp=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/OPF.csv")
df_ofp['host_name'] = 'Open Forest protocol'
df_ofp['url'] = 'https://atlas.openforestprotocol.org'
df_ofp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          99 non-null     float64
 1   project_id_reported       99 non-null     float64
 2   survival_rate_reported    0 non-null      float64
 3   species_planted_reported  0 non-null      float64
 4   trees_planted_reported    0 non-null      float64
 5   species_count_reported    0 non-null      float64
 6   planting_date_reported    0 non-null      float64
 7   country                   99 non-null     object
 8   geometry_reported         126 non-null    object
 9   site_sqkm                 99 non-null     float64
 10  description_reported      99 non-null     object
 11  host_name                 188 non-null    object
 12  url                       188 non-null    object
dtypes: float64(8), object(5)
memory usage: 19.2+ KB

In [190]:
df_ofp.to_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/new_file.csv", index=False)

In [191]:
df_ofp.tail()

,site_id_reported,project_id_reported,survival_rate_reported,species_planted_reported,trees_planted_reported,species_count_reported,planting_date_reported,country,geometry_reported,site_sqkm,description_reported,host_name,url
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((26.6513907015837 75.0059113356193, 2...",NaN,NaN,Open Forest protocol,https://atlas.openforestprotocol.org
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((28.5922812395922 77.0255506214956, 2...",NaN,NaN,Open Forest protocol,https://atlas.openforestprotocol.org
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((9.2526431 -83.7949872, 9.252066 -83....",NaN,NaN,Open Forest protocol,https://atlas.openforestprotocol.org
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((0.458493851715622 35.9811773996758, ...",NaN,NaN,Open Forest protocol,https://atlas.openforestprotocol.org
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-0.1035392 37.0016187, -0.104001 37....",NaN,NaN,Open Forest protocol,https://atlas.openforestprotocol.org

In [192]:

df_ofp["country"] = df_ofp["country"].str.split(",").str[-1].str.strip()
df_ofp.head()

,site_id_reported,project_id_reported,survival_rate_reported,species_planted_reported,trees_planted_reported,species_count_reported,planting_date_reported,country,geometry_reported,site_sqkm,description_reported,host_name,url
0,1.658929e+12,1.658929e+12,NaN,NaN,NaN,NaN,NaN,United States,"POLYGON ((30.136472 -97.9555704, 30.1360475 -9...",0.420,Juniper Forest is a mixed forest consisting pr...,Open Forest protocol,https://atlas.openforestprotocol.org
1,1.661950e+12,1.661950e+12,NaN,NaN,NaN,NaN,NaN,India,"POLYGON ((12.90351 79.4147657, 12.9028381 79.4...",0.265,Hybrid Miyawaki forest,Open Forest protocol,https://atlas.openforestprotocol.org
2,1.662665e+12,1.662665e+12,NaN,NaN,NaN,NaN,NaN,Guatemala,"POLYGON ((16.3655423222412 -89.5362508149241, ...",30.746,We have developed and implemented a decentrali...,Open Forest protocol,https://atlas.openforestprotocol.org
3,1.659544e+12,1.659544e+12,NaN,NaN,NaN,NaN,NaN,Guatemala,"POLYGON ((16.922236 -89.528162, 16.9305151 -89...",29.460,"Once a tropical forest landscape, this zone ha...",Open Forest protocol,https://atlas.openforestprotocol.org
4,1.666284e+12,1.666284e+12,NaN,NaN,NaN,NaN,NaN,Switzerland,"POLYGON ((46.578252 6.7209157, 46.5779847 6.72...",0.126,"This project is located in the Jorat, a region...",Open Forest protocol,https://atlas.openforestprotocol.org

In [193]:
df_ofp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          99 non-null     float64
 1   project_id_reported       99 non-null     float64
 2   survival_rate_reported    0 non-null      float64
 3   species_planted_reported  0 non-null      float64
 4   trees_planted_reported    0 non-null      float64
 5   species_count_reported    0 non-null      float64
 6   planting_date_reported    0 non-null      float64
 7   country                   99 non-null     object
 8   geometry_reported         126 non-null    object
 9   site_sqkm                 99 non-null     float64
 10  description_reported      99 non-null     object
 11  host_name                 188 non-null    object
 12  url                       188 non-null    object
dtypes: float64(8), object(5)
memory usage: 19.2+ KB

In [15]:


def load_wkt(wkt_string):
    try:
        return wkt.loads(wkt_string)
    except TypeError:
        return wkt_string


df_ofp['geometry_reported'] = df_ofp['geometry_reported'].apply(load_wkt)


gdf = gpd.GeoDataFrame(df_ofp, geometry='geometry_reported')


gdf['geometry_reported'] = gdf['geometry_reported'].apply(lambda geom: geom if geom is not None and geom.is_valid else geom.buffer(0) if geom is not None else None)


gdf['geometry_reported'] = gdf['geometry_reported'].simplify(tolerance=0.001, preserve_topology=True)


def validate_and_correct_geometry(geom):
    if geom is None:
        return None
    if not geom.is_valid:
        geom = geom.buffer(0)
   
    return geom

gdf['geometry_reported'] = gdf['geometry_reported'].apply(validate_and_correct_geometry)

gdf.set_crs("EPSG:4326", inplace=True)


gdf.to_file("/home/idisc02/Forest_Monitoring/input/opf.shp")

/tmp/ipykernel_1033240/1946029430.py:42: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file("/home/idisc02/Forest_Monitoring/input/opf.shp")

#### Komaza verra_Project

In [194]:
df_komaza=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/Komaza.csv")
df_komaza['host_name'] = 'Verra'
df_komaza["project_id_reported"]="Verra_komaza_1"
df_komaza['url'] = 'https://registry.verra.org/app/projectDetail/CCB/2623'
df_komaza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23197 entries, 0 to 23196
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          23197 non-null  object
 1   planting_date_reported    23197 non-null  int64
 2   geometry_reported         23196 non-null  object
 3   site_sqkm                 23197 non-null  float64
 4   project_id_reported       23197 non-null  object
 5   description_reported      0 non-null      float64
 6   trees_planted_reported    0 non-null      float64
 7   survival_rate_reported    0 non-null      float64
 8   species_count_reported    0 non-null      float64
 9   species_planted_reported  0 non-null      float64
 10  country                   22657 non-null  object
 11  host_name                 23197 non-null  object
 12  url                       23197 non-null  object
dtypes: float64(6), int64(1), object(6)
memory usage: 2.3+ MB

In [195]:
df_komaza_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_komaza_modified.csv",encoding='latin-1')
df_komaza_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23197 entries, 0 to 23196
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        23197 non-null  int64
 1   country                           22657 non-null  object
 2   host_name                         23197 non-null  object
 3   planting_date_reported            23197 non-null  int64
 4   project_id_reported               23197 non-null  object
 5   site_id_reported                  23197 non-null  object
 6   site_sqkm                         23197 non-null  float64
 7   url                               23197 non-null  object
 8   geometry_reported                 23197 non-null  object
 9   Top_Three_NDVI_Months             23197 non-null  object
 10  description_reported              0 non-null      float64
 11  trees_planted_reported            0 non-null      float64
 12  survival_rate_reported            0 non-null      float64
 13  species_count_reported            0 non-null      float64
 14  species_planted_reported          0 non-null      float64
 15  built_area                        23197 non-null  float64
 16  intersecting_roads_count          23197 non-null  int64
 17  total_road_length_km              23197 non-null  float64
 18  loss_pre_5                        23197 non-null  float64
 19  loss_post_3                       23197 non-null  float64
 20  loss_post_5                       23197 non-null  float64
 21  cropland gain from trees          23197 non-null  float64
 22  cropland loss to tree             23197 non-null  float64
 23  permanent water                   23197 non-null  int64
 24  short vegetation after tree loss  23197 non-null  float64
 25  tree_cover_area_2000              23197 non-null  float64
 26  tree_cover_area_2005              23197 non-null  float64
 27  tree_cover_area_2010              23197 non-null  float64
 28  tree_cover_area_2015              23197 non-null  float64
 29  tree_cover_area_2020              23197 non-null  float64
dtypes: float64(19), int64(4), object(7)
memory usage: 5.3+ MB

#### TIST data_with_trees_planted

In [197]:
df_tist=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/TIST_Meta.csv")
df_tist['host_name'] = 'TIST'
df_tist["project_id_reported"]="TIST_1"
df_tist['url'] = 'https://program.tist.org'
df_tist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11301 entries, 0 to 11300
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       11301 non-null  object
 1   site_id_reported          11301 non-null  object
 2   geometry_reported         11300 non-null  object
 3   planting_date_reported    11056 non-null  object
 4   trees_planted_reported    11301 non-null  int64
 5   description_reported      0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   site_sqkm                 11055 non-null  float64
 10  country                   11301 non-null  object
 11  host_name                 11301 non-null  object
 12  url                       11301 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 1.1+ MB

In [20]:
df_tist_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_tist_trees_1.csv",encoding='latin-1')
df_tist_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11301 entries, 0 to 11300
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        11301 non-null  int64
 1   country                           11301 non-null  object
 2   host_name                         11301 non-null  object
 3   planting_date_reported            11056 non-null  object
 4   project_id_reported               11301 non-null  object
 5   site_id_reported                  11301 non-null  object
 6   site_sqkm                         11055 non-null  float64
 7   trees_planted_reported            11301 non-null  int64
 8   url                               11301 non-null  object
 9   geometry_reported                 11301 non-null  object
 10  Top_Three_NDVI_Months             11301 non-null  object
 11  description_reported              0 non-null      float64
 12  survival_rate_reported            0 non-null      float64
 13  species_count_reported            0 non-null      float64
 14  species_planted_reported          0 non-null      float64
 15  built_area                        11301 non-null  float64
 16  intersecting_roads_count          11301 non-null  int64
 17  total_road_length_km              11301 non-null  float64
 18  loss_pre_5                        11056 non-null  float64
 19  loss_post_3                       11056 non-null  float64
 20  loss_post_5                       11056 non-null  float64
 21  tree_cover_area_2000              11301 non-null  float64
 22  tree_cover_area_2005              11301 non-null  float64
 23  tree_cover_area_2010              11301 non-null  float64
 24  tree_cover_area_2015              11301 non-null  float64
 25  tree_cover_area_2020              11301 non-null  float64
 26  cropland gain from trees          11301 non-null  float64
 27  cropland loss to tree             11301 non-null  float64
 28  permanent water                   11301 non-null  float64
 29  short vegetation after tree loss  11301 non-null  float64
dtypes: float64(19), int64(3), object(8)
memory usage: 2.6+ MB

In [198]:
df_tist_2['host_name'] = 'TIST'
df_tist_2['url'] = 'https://program.tist.org'

In [200]:
df_tist_2.head()

,Unnamed: 0,country,host_name,planting_date_reported,project_id_reported,site_id_reported,site_sqkm,trees_planted_reported,url,geometry_reported,...,loss_post_5,tree_cover_area_2000,tree_cover_area_2005,tree_cover_area_2010,tree_cover_area_2015,tree_cover_area_2020,cropland gain from trees,cropland loss to tree,permanent water,short vegetation after tree loss
0,0,KE,TIST,2003-01-01,Verra_TIST_1,2008KE160-Christine Gaitia,0.0069,0,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[37.71591498...",...,0.00000,0.006955,0.006955,0.006955,0.006955,0.006955,0.0,0.000000,0.0,0.0
1,1,UG,TIST,2003-01-03,Verra_TIST_1,2007UG264-Kamari Bright,0.0166,0,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[29.63509639...",...,0.00000,0.010653,0.010653,0.010653,0.010653,0.010653,0.0,0.000000,0.0,0.0
2,2,KE,TIST,2009-03-27,Verra_TIST_1,2008KE1515 - Patric kinyua,0.0194,0,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[37.63622642...",...,0.00000,0.018847,0.018847,0.018847,0.018847,0.018847,0.0,0.000000,0.0,0.0
3,3,KE,TIST,2009-04-01,Verra_TIST_1,2006KE200-Hudson J G B,0.0193,0,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[37.81311003...",...,0.00000,0.019187,0.019187,0.019187,0.019187,0.019187,0.0,0.000000,0.0,0.0
4,4,KE,TIST,2009-04-01,Verra_TIST_1,2006KE200-Justus Nguu,0.0257,0,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[37.81323486...",...,4099.65366,0.018514,0.020302,0.021196,0.021196,0.025666,0.0,0.007152,0.0,0.0

#### TIST data_without_trees_planted

In [21]:
df_tist_w=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/TIST_Meta_without_trees.csv")
df_tist_w['host_name'] = 'Verra'
df_tist_w["project_id_reported"]="Verra_TIST_2"
df_tist_w['url'] = 'https://registry.verra.org/app/projectDetail/CCB/2497'
df_tist_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13016 entries, 0 to 13015
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       13016 non-null  object
 1   site_id_reported          13016 non-null  object
 2   geometry_reported         13015 non-null  object
 3   country                   13016 non-null  object
 4   site_sqkm                 0 non-null      float64
 5   description_reported      0 non-null      float64
 6   planting_date_reported    0 non-null      float64
 7   trees_planted_reported    0 non-null      float64
 8   survival_rate_reported    0 non-null      float64
 9   species_count_reported    0 non-null      float64
 10  species_planted_reported  0 non-null      float64
 11  host_name                 13016 non-null  object
 12  url                       13016 non-null  object
dtypes: float64(7), object(6)
memory usage: 1.3+ MB

In [22]:
df_tist_w["geometry_reported"]

0        [(-0.889216667, 29.783148333), (-0.889206667, ...
1        [(-0.87047, 29.773575), (-0.870471667, 29.7735...
2        [(-0.914361667, 29.736043333), (-0.914363333, ...
3        [(-0.72825, 29.741006667), (-0.72825, 29.74100...
4        [(-0.746265, 29.738493333), (-0.746261667, 29....
                               ...
13011    [(-6.31761, 36.67435), (-6.317613, 36.674348),...
13012    [(-6.292317, 36.685297), (-6.292315, 36.685293...
13013    [(-6.292292, 36.685515), (-6.292293, 36.685517...
13014    [(-6.2911, 36.680987), (-6.291098, 36.680987),...
13015    [(-6.294527, 36.684153), (-6.294528, 36.684153...
Name: geometry_reported, Length: 13016, dtype: object

In [115]:
df_tist_w_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_df_tist_w_1 .csv",encoding='latin-1')
df_tist_w_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12993 entries, 0 to 12992
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        12993 non-null  int64
 1   country                           12993 non-null  object
 2   host_name                         12993 non-null  object
 3   project_id_reported               12993 non-null  object
 4   site_id_reported                  12993 non-null  object
 5   url                               12993 non-null  object
 6   geometry_reported                 12993 non-null  object
 7   Top_Three_NDVI_Months             12993 non-null  object
 8   site_sqkm                         0 non-null      float64
 9   description_reported              0 non-null      float64
 10  planting_date_reported            0 non-null      float64
 11  trees_planted_reported            0 non-null      float64
 12  survival_rate_reported            0 non-null      float64
 13  species_count_reported            0 non-null      float64
 14  species_planted_reported          0 non-null      float64
 15  built_area                        12993 non-null  float64
 16  loss_pre_5                        0 non-null      float64
 17  loss_post_3                       0 non-null      float64
 18  loss_post_5                       0 non-null      float64
 19  tree_cover_area_2000              12993 non-null  float64
 20  tree_cover_area_2005              12993 non-null  float64
 21  tree_cover_area_2010              12993 non-null  float64
 22  tree_cover_area_2015              12993 non-null  float64
 23  tree_cover_area_2020              12993 non-null  float64
 24  cropland gain from trees          12993 non-null  float64
 25  cropland loss to tree             12993 non-null  float64
 26  permanent water                   12993 non-null  int64
 27  short vegetation after tree loss  12993 non-null  float64
 28  intersecting_roads_count          12993 non-null  int64
 29  total_road_length_km              12993 non-null  float64
dtypes: float64(20), int64(3), object(7)
memory usage: 3.0+ MB

In [116]:
import pandas as pd
import geopandas as gpd
import json
from shapely.geometry import shape
from functools import partial
import pyproj


df_tist_w_2['geometry'] = df_tist_w_2['geometry_reported'].apply(lambda x: shape(json.loads(x)))


gdf = gpd.GeoDataFrame(df_tist_w_2, geometry='geometry')

gdf.crs = 'EPSG:4326'


utm_zone = int((gdf.geometry.centroid.x.mean() + 180) / 6) + 1
gdf = gdf.to_crs(f'EPSG:326{utm_zone}')


gdf['site_sqkm'] = gdf.geometry.area / 1e6


gdf = gdf.to_crs('EPSG:4326')


df_tist_w_2['site_sqkm'] = gdf['site_sqkm']

/tmp/ipykernel_1033240/3778931311.py:17: UserWarning:

Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

In [204]:
df_tist_w_2['host_name'] = 'TIST'
df_tist_w_2['url'] = 'https://program.tist.org'
df_tist_w_2.head()

,Unnamed: 0,country,host_name,project_id_reported,site_id_reported,url,geometry_reported,Top_Three_NDVI_Months,site_sqkm,description_reported,...,tree_cover_area_2010,tree_cover_area_2015,tree_cover_area_2020,cropland gain from trees,cropland loss to tree,permanent water,short vegetation after tree loss,intersecting_roads_count,total_road_length_km,geometry
0,0,UG,TIST,Verra_TIST_2,2003UG135-Matayo 02,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[29.78216645...","[5, 7, 12]",0.007132,NaN,...,0.007736,0.007736,0.007736,0.0,0.000000,0,0.0,0,0.000000,POLYGON ((29.78216645230925 -0.889358806883859...
1,1,UG,TIST,Verra_TIST_2,2003UG135-Nalongo,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[29.77257499...","[12, 7, 9]",0.003752,NaN,...,0.004561,0.004561,0.004561,0.0,0.000000,0,0.0,2,0.068243,POLYGON ((29.77257499221554 -0.870389759846792...
2,2,UG,TIST,Verra_TIST_2,2003UG140-Silver 02,https://program.tist.org,"{""type"":""GeometryCollection"",""geometries"":[{""t...","[7, 5, 12]",0.006346,NaN,...,0.005121,0.005121,0.005121,0.0,0.003046,0,0.0,0,0.000000,GEOMETRYCOLLECTION (LINESTRING (29.73604154882...
3,3,UG,TIST,Verra_TIST_2,2003UG145-Katuisi 01,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[29.74066561...","[8, 7, 4]",0.016177,NaN,...,0.005079,0.016497,0.016497,0.0,0.002990,0,0.0,0,0.000000,POLYGON ((29.740665616567036 -0.72729718917371...
4,4,UG,TIST,Verra_TIST_2,2003UG145-Katusi 02,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[29.73843612...","[5, 4, 8]",0.002310,NaN,...,0.003165,0.003165,0.003165,0.0,0.003165,0,0.0,0,0.000000,POLYGON ((29.738436125151622 -0.74629747408401...

#### ASIA_VERRA

In [24]:
df_asia=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/concatenated_df_Asia.csv")
df_asia['host_name'] = 'Verra'
df_asia["site_id_reported"]=['asi_reforest_site_{}'.format(i+1) for i in range(len(df_asia))]
df_asia["project_id_reported"]="Verra_Asia_1"
df_asia['url'] = 'https://registry.verra.org/app/projectDetail/CCB/2374'
df_asia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43628 entries, 0 to 43627
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          43628 non-null  object
 1   project_id_reported       43628 non-null  object
 2   geometry_reported         43611 non-null  object
 3   description_reported      0 non-null      float64
 4   planting_date_reported    0 non-null      float64
 5   trees_planted_reported    0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   country                   43610 non-null  object
 10  site_sqkm                 43628 non-null  float64
 11  host_name                 43628 non-null  object
 12  url                       43628 non-null  object
dtypes: float64(7), object(6)
memory usage: 4.3+ MB

In [205]:
df_asia_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_verra_asia_1.csv",encoding='latin-1')
df_asia_2['host_name'] = 'TIST'
df_asia_2['url'] = 'https://program.tist.org'
df_asia_2.head()

,Unnamed: 0,country,host_name,project_id_reported,site_id_reported,site_sqkm,url,geometry_reported,Top_Three_NDVI_Months,description_reported,...,loss_post_5,tree_cover_area_2000,tree_cover_area_2005,tree_cover_area_2010,tree_cover_area_2015,tree_cover_area_2020,cropland gain from trees,cropland loss to tree,permanent water,short vegetation after tree loss
0,0.0,China,TIST,Verra_Asia_1,asi_reforest_site_36990,0.000000e+00,https://program.tist.org,"{""type"":""Point"",""coordinates"":[103.06048705575...","[10, 1, 12]",NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,China,TIST,Verra_Asia_1,asi_reforest_site_36162,2.610000e-08,https://program.tist.org,"{""type"":""Point"",""coordinates"":[104.26699494598...","[8, 9, 7]",NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,China,TIST,Verra_Asia_1,asi_reforest_site_35048,5.940000e-08,https://program.tist.org,"{""type"":""Point"",""coordinates"":[104.17565472000...","[8, 9, 10]",NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,China,TIST,Verra_Asia_1,asi_reforest_site_37329,6.530000e-08,https://program.tist.org,"{""type"":""Point"",""coordinates"":[103.00592549526...","[9, 6, 10]",NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,China,TIST,Verra_Asia_1,asi_reforest_site_35341,5.330000e-07,https://program.tist.org,"{""type"":""Point"",""coordinates"":[104.27221209421...","[8, 9, 10]",NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### VERRA Latin America

In [26]:
df_latin=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/concatenated_latin_df.csv")
df_latin['host_name'] = 'Verra'
df_latin["site_id_reported"]=['latinA_reforest_site_{}'.format(i+1) for i in range(len(df_latin))]
df_latin["project_id_reported"]="Verra_Latin_1"
df_latin['url'] = 'https://registry.verra.org/app/projectDetail/CCB/4841'
df_latin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geometry_reported         407 non-null    object
 1   site_id_reported          407 non-null    object
 2   project_id_reported       407 non-null    object
 3   description_reported      0 non-null      float64
 4   planting_date_reported    0 non-null      float64
 5   trees_planted_reported    0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   country                   407 non-null    object
 10  site_sqkm                 407 non-null    float64
 11  host_name                 407 non-null    object
 12  url                       407 non-null    object
dtypes: float64(7), object(6)
memory usage: 41.5+ KB

In [27]:
df_latin_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_Latin_reshape.csv",encoding='latin-1')
df_latin_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   407 non-null    object
 1   host_name                 407 non-null    object
 2   project_id_reported       407 non-null    object
 3   site_id_reported          407 non-null    object
 4   site_sqkm                 407 non-null    float64
 5   url                       407 non-null    object
 6   geometry_reported         406 non-null    object
 7   Top_Three_NDVI_Months     407 non-null    object
 8   description_reported      0 non-null      float64
 9   planting_date_reported    0 non-null      float64
 10  trees_planted_reported    0 non-null      float64
 11  survival_rate_reported    0 non-null      float64
 12  species_count_reported    0 non-null      float64
 13  species_planted_reported  0 non-null      float64
 14  intersecting_roads_count  407 non-null    int64
 15  total_road_length_km      407 non-null    float64
 16  built_area                407 non-null    float64
dtypes: float64(9), int64(1), object(7)
memory usage: 54.2+ KB

#### TIST other areas projects

In [28]:
df_other=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/OTHER_verra_projects.csv")
df_other['host_name'] = 'Verra'

df_other["project_id_reported"]="Verra_TIST_3"
df_other['url'] = 'https://registry.verra.org/app/projectDetail/CCB/2512'
df_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geometry_reported         270 non-null    object
 1   site_id_reported          270 non-null    int64
 2   species_planted_reported  270 non-null    object
 3   planting_date_reported    270 non-null    object
 4   project_id_reported       270 non-null    object
 5   description_reported      0 non-null      float64
 6   trees_planted_reported    0 non-null      float64
 7   survival_rate_reported    0 non-null      float64
 8   species_count_reported    0 non-null      float64
 9   site_sqkm                 270 non-null    float64
 10  country                   270 non-null    object
 11  host_name                 270 non-null    object
 12  url                       270 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 27.5+ KB

In [207]:
df_other_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_verra_other_reshape.csv",encoding='latin-1')
df_other_2['host_name'] = 'TIST'
df_other_2['url'] = 'https://program.tist.org'
df_other_2.head()

,Unnamed: 0,country,host_name,planting_date_reported,project_id_reported,site_id_reported,site_sqkm,species_planted_reported,url,geometry_reported,...,loss_post_5,tree_cover_area_2000,tree_cover_area_2005,tree_cover_area_2010,tree_cover_area_2015,tree_cover_area_2020,cropland gain from trees,cropland loss to tree,permanent water,short vegetation after tree loss
0,0,Colombia,TIST,1899/12/30,Verra_TIST_3,212,0.227341,Acacia mangium,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[-68.1702463...",...,NaN,0.017434,0.017434,0.017434,0.017434,0.017434,0,0,0,0
1,1,Colombia,TIST,1899/12/30,Verra_TIST_3,213,0.088888,Acacia mangium,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[-68.1592190...",...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0
2,2,Colombia,TIST,1899/12/30,Verra_TIST_3,214,0.060184,Acacia mangium,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[-68.1572972...",...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0
3,3,Colombia,TIST,1899/12/30,Verra_TIST_3,215,0.097155,Acacia mangium,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[-68.1553084...",...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0
4,4,Colombia,TIST,1899/12/30,Verra_TIST_3,216,0.096056,Acacia mangium,https://program.tist.org,"{""type"":""Polygon"",""coordinates"":[[[-68.1530298...",...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0

#### Restor eco data

In [30]:
df_eco=pd.read_csv("/home/idisc02/Forest_Monitoring/input/Restor_Eco/restor_eco.csv")
df_eco['host_name'] = 'Restor Eco'

df_eco['url'] = 'https://restor.eco/?lat=26&lng=14.23&zoom=3'
df_eco['country'] = df_eco['country'].str.replace("'", "")
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          1540 non-null   object
 1   description_reported      1540 non-null   object
 2   geometry_reported         1518 non-null   object
 3   site_sqkm                 1540 non-null   float64
 4   country                   1540 non-null   object
 5   planting_date_reported    1540 non-null   object
 6   project_id_reported       0 non-null      float64
 7   trees_planted_reported    0 non-null      float64
 8   survival_rate_reported    0 non-null      float64
 9   species_planted_reported  0 non-null      float64
 10  species_count_reported    0 non-null      float64
 11  host_name                 1540 non-null   object
 12  url                       1540 non-null   object
dtypes: float64(6), object(7)
memory usage: 156.5+ KB

In [219]:
df_eco_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_eco_12.csv",encoding='latin-1')
df_eco_2 ['host_name'] = 'Restor Eco'

df_eco_2['url'] = 'https://restor.eco/?lat=26&lng=14.23&zoom=3'
df_eco_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        1518 non-null   int64
 1   country                           1518 non-null   object
 2   description_reported              1518 non-null   object
 3   planting_date_reported            1518 non-null   object
 4   site_id_reported                  1518 non-null   object
 5   site_sqkm                         1518 non-null   object
 6   geometry_reported                 1515 non-null   object
 7   Top_Three_NDVI_Months             1518 non-null   object
 8   project_id_reported               3 non-null      object
 9   trees_planted_reported            0 non-null      float64
 10  survival_rate_reported            0 non-null      float64
 11  species_planted_reported          0 non-null      float64
 12  species_count_reported            0 non-null      float64
 13  built_area                        1518 non-null   float64
 14  loss_pre_5                        728 non-null    float64
 15  loss_post_3                       660 non-null    float64
 16  loss_post_5                       660 non-null    float64
 17  tree_cover_area_2000              1518 non-null   float64
 18  tree_cover_area_2005              1518 non-null   float64
 19  tree_cover_area_2010              1518 non-null   float64
 20  tree_cover_area_2015              1518 non-null   float64
 21  tree_cover_area_2020              1518 non-null   float64
 22  cropland gain from trees          1518 non-null   float64
 23  cropland loss to tree             1518 non-null   float64
 24  permanent water                   1518 non-null   float64
 25  short vegetation after tree loss  1518 non-null   float64
 26  intersecting_roads_count          1518 non-null   int64
 27  total_road_length_km              1518 non-null   float64
 28  host_name                         1518 non-null   object
 29  url                               1518 non-null   object
dtypes: float64(18), int64(2), object(10)
memory usage: 355.9+ KB

#### Explorer Data

In [32]:
df_ex=pd.read_csv("/home/idisc02/Forest_Monitoring/input/ExplorerLand/explorer_land.csv")
df_ex['host_name'] = 'Explorer Land'
df_ex['url'] = 'https://explorer.land/x/projects'
df_ex.head()

,project_id_reported,country,planting_date_reported,species_count_reported,species_planted_reported,survival_rate_reported,site_sqkm,trees_planted_reported,site_id_reported,geometry_reported,description_reported,host_name,url
0,NaN,NaN,2020.0,NaN,NaN,NaN,0.0044,9000.0,w54el3pdqr439zna,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2020, 9,000 trees were planted on Site J by...",Explorer Land,https://explorer.land/x/projects
1,NaN,NaN,2019.0,NaN,NaN,NaN,0.0026,12000.0,6b4q7jellm4yn8xd,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2019, 9,800 trees were planted on Site I, a...",Explorer Land,https://explorer.land/x/projects
2,NaN,NaN,2015.0,NaN,NaN,NaN,NaN,8001.0,wzgbdynmmxnjkae0,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2015, 8,001 trees were planted on Site E, a...",Explorer Land,https://explorer.land/x/projects
3,NaN,NaN,2023.0,NaN,NaN,NaN,NaN,2700.0,lmedq3q7ebry97va,"{'type': 'MultiPolygon', 'coordinates': [[[[19...",The restoration approach implemented at the Bl...,Explorer Land,https://explorer.land/x/projects
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,q4d7myrlv4lya6kz,"{'type': 'MultiPolygon', 'coordinates': [[[[19...",In order to protect the old-growth forest from...,Explorer Land,https://explorer.land/x/projects

In [33]:
df_ex.head(5)

,project_id_reported,country,planting_date_reported,species_count_reported,species_planted_reported,survival_rate_reported,site_sqkm,trees_planted_reported,site_id_reported,geometry_reported,description_reported,host_name,url
0,NaN,NaN,2020.0,NaN,NaN,NaN,0.0044,9000.0,w54el3pdqr439zna,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2020, 9,000 trees were planted on Site J by...",Explorer Land,https://explorer.land/x/projects
1,NaN,NaN,2019.0,NaN,NaN,NaN,0.0026,12000.0,6b4q7jellm4yn8xd,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2019, 9,800 trees were planted on Site I, a...",Explorer Land,https://explorer.land/x/projects
2,NaN,NaN,2015.0,NaN,NaN,NaN,NaN,8001.0,wzgbdynmmxnjkae0,"{'type': 'MultiPolygon', 'coordinates': [[[[19...","In 2015, 8,001 trees were planted on Site E, a...",Explorer Land,https://explorer.land/x/projects
3,NaN,NaN,2023.0,NaN,NaN,NaN,NaN,2700.0,lmedq3q7ebry97va,"{'type': 'MultiPolygon', 'coordinates': [[[[19...",The restoration approach implemented at the Bl...,Explorer Land,https://explorer.land/x/projects
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,q4d7myrlv4lya6kz,"{'type': 'MultiPolygon', 'coordinates': [[[[19...",In order to protect the old-growth forest from...,Explorer Land,https://explorer.land/x/projects

In [35]:
df_ftf_2=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/monthly_ndvi_ftf_reshape.csv",encoding='latin-1')
df_ftf_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        530 non-null    int64
 1   site_sqkm                         530 non-null    float64
 2   country                           0 non-null      float64
 3   description_reported              0 non-null      float64
 4   host_name                         530 non-null    object
 5   planting_date_reported            94 non-null     float64
 6   project_id_reported               530 non-null    int64
 7   site_id_reported                  0 non-null      float64
 8   trees_planted_reported            94 non-null     float64
 9   url                               530 non-null    object
 10  geometry_reported                 530 non-null    object
 11  Top_Three_NDVI_Months             530 non-null    object
 12  survival_rate_reported            0 non-null      float64
 13  species_planted_reported          0 non-null      float64
 14  species_count_reported            0 non-null      float64
 15  intersecting_roads_count          530 non-null    int64
 16  total_road_length_km              530 non-null    float64
 17  built_area                        530 non-null    float64
 18  loss_pre_5                        0 non-null      float64
 19  loss_post_3                       0 non-null      float64
 20  loss_post_5                       0 non-null      float64
 21  tree_cover_area_2000              530 non-null    float64
 22  tree_cover_area_2005              530 non-null    float64
 23  tree_cover_area_2010              530 non-null    float64
 24  tree_cover_area_2015              530 non-null    float64
 25  tree_cover_area_2020              530 non-null    float64
 26  cropland gain from trees          530 non-null    int64
 27  cropland loss to tree             530 non-null    int64
 28  permanent water                   530 non-null    float64
 29  short vegetation after tree loss  530 non-null    float64
dtypes: float64(21), int64(5), object(4)
memory usage: 124.3+ KB

### Verra_Aggregated

In [210]:
df_verra=pd.read_csv("/home/idisc02/Forest_Monitoring/input/meta_data_CSV_FILES/With_NDVI/verra_aggregaated.csv")
df_verra['host_name'] = 'Verra_Aggregated'
df_verra['url'] = 'https://registry.verra.org/app/search/CCB'
df_verra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783984 entries, 0 to 783983
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        783984 non-null  int64
 1   site_sqkm                         783984 non-null  float64
 2   built_area                        783984 non-null  float64
 3   description_reported              0 non-null       float64
 4   project_id_reported               783984 non-null  int64
 5   site_id_reported                  783984 non-null  int64
 6   species_count_reported            0 non-null       float64
 7   species_planted_reported          0 non-null       float64
 8   survival_rate_reported            0 non-null       float64
 9   trees_planted_reported            0 non-null       float64
 10  geometry_reported                 783984 non-null  object
 11  country                           779044 non-null  object
 12  planting_date_reported            778492 non-null  object
 13  loss_pre_5                        778492 non-null  float64
 14  loss_post_3                       761644 non-null  float64
 15  loss_post_5                       761644 non-null  float64
 16  cropland gain from trees          783984 non-null  float64
 17  cropland loss to tree             783984 non-null  float64
 18  permanent water                   783984 non-null  float64
 19  short vegetation after tree loss  783984 non-null  float64
 20  Top_Three_NDVI_Months             783984 non-null  object
 21  intersecting_roads_count          783984 non-null  int64
 22  total_road_length_km              783984 non-null  float64
 23  tree_cover_area_2020              783984 non-null  float64
 24  tree_cover_area_2015              783984 non-null  float64
 25  tree_cover_area_2010              783984 non-null  float64
 26  tree_cover_area_2005              783984 non-null  float64
 27  tree_cover_area_2000              783984 non-null  float64
 28  host_name                         783984 non-null  object
 29  url                               783984 non-null  object
dtypes: float64(20), int64(4), object(6)
memory usage: 179.4+ MB

In [211]:
df_verra.describe()

,Unnamed: 0,site_sqkm,built_area,description_reported,project_id_reported,site_id_reported,species_count_reported,species_planted_reported,survival_rate_reported,trees_planted_reported,...,cropland loss to tree,permanent water,short vegetation after tree loss,intersecting_roads_count,total_road_length_km,tree_cover_area_2020,tree_cover_area_2015,tree_cover_area_2010,tree_cover_area_2005,tree_cover_area_2000
count,783984.000000,783984.000000,7.839840e+05,0.0,783984.000000,783984.000000,0.0,0.0,0.0,0.0,...,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000,783984.000000
mean,391991.500000,0.222344,3.699670e+02,NaN,2848.453958,25598.638387,NaN,NaN,NaN,NaN,...,0.000323,0.001655,0.003064,0.020106,0.027284,0.070197,0.070975,0.070765,0.070541,0.070606
std,226316.831059,8.270252,3.904627e+04,NaN,871.056926,34038.048453,NaN,NaN,NaN,NaN,...,0.030926,0.264471,0.426606,0.642287,1.929237,3.735422,3.794755,3.834864,3.852992,3.861299
min,0.000000,0.000000,0.000000e+00,NaN,142.000000,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,195995.750000,0.001207,0.000000e+00,NaN,2391.000000,2172.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,391991.500000,0.003417,0.000000e+00,NaN,2418.000000,9192.500000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,587987.250000,0.014464,0.000000e+00,NaN,3336.000000,35172.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,783983.000000,994.223626,1.465185e+07,NaN,5142.000000,131612.000000,NaN,NaN,NaN,NaN,...,19.533520,130.682855,217.530341,294.000000,625.838605,754.781337,782.583203,798.301808,811.198744,829.397416

In [212]:

df_verra['site_sqkm'] = pd.to_numeric(df_verra['site_sqkm'], errors='coerce')


df_verra['site_sqkm'] = df_verra['site_sqkm'].fillna(0)


total = df_verra['site_sqkm'].sum()
print(total)

174314.04190310527

### Combining the datasets

In [220]:
dfs = [df_plant_2,df_nation_2,df_tist_2,df_tist_w_2,df_asia_2,df_other_2,df_eco_2,df_ftf_2,df_verra_2]

In [221]:

reference_order = dfs[0].columns.tolist()
reordered_dfs = [df[reference_order] for df in dfs]

In [222]:
df_reforestation= pd.concat(reordered_dfs, ignore_index=True)
df_reforestation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830802 entries, 0 to 830801
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        830784 non-null  float64
 1   country                           825442 non-null  object
 2   description_reported              2667 non-null    object
 3   host_name                         830802 non-null  object
 4   planting_date_reported            767909 non-null  object
 5   project_id_reported               829269 non-null  object
 6   site_id_reported                  830254 non-null  object
 7   site_sqkm                         830537 non-null  object
 8   survival_rate_reported            530 non-null     float64
 9   trees_planted_reported            12546 non-null   float64
 10  url                               830802 non-null  object
 11  geometry_reported                 830780 non-null  object
 12  Top_Three_NDVI_Months             830784 non-null  object
 13  species_planted_reported          270 non-null     object
 14  species_count_reported            0 non-null       float64
 15  built_area                        830784 non-null  float64
 16  intersecting_roads_count          830802 non-null  int64
 17  total_road_length_km              830802 non-null  float64
 18  loss_pre_5                        766981 non-null  float64
 19  loss_post_3                       750454 non-null  float64
 20  loss_post_5                       750454 non-null  float64
 21  tree_cover_area_2020              830784 non-null  float64
 22  tree_cover_area_2015              830784 non-null  float64
 23  tree_cover_area_2010              830784 non-null  float64
 24  tree_cover_area_2005              830784 non-null  float64
 25  tree_cover_area_2000              830784 non-null  float64
 26  cropland gain from trees          830784 non-null  float64
 27  cropland loss to tree             830784 non-null  float64
 28  permanent water                   830784 non-null  float64
 29  short vegetation after tree loss  830784 non-null  float64
dtypes: float64(18), int64(1), object(11)
memory usage: 190.2+ MB

### Filtering only polygon/Multipolygon rows

In [224]:
import json

def is_polygon_or_multipolygon(geometry):
   
    if not isinstance(geometry, str):
        return False
    try:
        geometry_dict = json.loads(geometry)
      
        if isinstance(geometry_dict, dict) and 'type' in geometry_dict:
            return geometry_dict['type'] in ['Polygon', 'MultiPolygon']
        else:
            return False
    except json.JSONDecodeError:
        return False


df_reforestation = df_reforestation[df_reforestation['geometry_reported'].apply(is_polygon_or_multipolygon)]

df_reforestation.info()

<class 'pandas.core.frame.DataFrame'>
Index: 799466 entries, 0 to 830801
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        799466 non-null  float64
 1   country                           794220 non-null  object
 2   description_reported              2486 non-null    object
 3   host_name                         799466 non-null  object
 4   planting_date_reported            765647 non-null  object
 5   project_id_reported               798114 non-null  object
 6   site_id_reported                  799031 non-null  object
 7   site_sqkm                         799289 non-null  object
 8   survival_rate_reported            522 non-null     float64
 9   trees_planted_reported            10383 non-null   float64
 10  url                               799466 non-null  object
 11  geometry_reported                 799466 non-null  object
 12  Top_Three_NDVI_Months             799466 non-null  object
 13  species_planted_reported          264 non-null     object
 14  species_count_reported            0 non-null       float64
 15  built_area                        799466 non-null  float64
 16  intersecting_roads_count          799466 non-null  int64
 17  total_road_length_km              799466 non-null  float64
 18  loss_pre_5                        764761 non-null  float64
 19  loss_post_3                       748241 non-null  float64
 20  loss_post_5                       748241 non-null  float64
 21  tree_cover_area_2020              799466 non-null  float64
 22  tree_cover_area_2015              799466 non-null  float64
 23  tree_cover_area_2010              799466 non-null  float64
 24  tree_cover_area_2005              799466 non-null  float64
 25  tree_cover_area_2000              799466 non-null  float64
 26  cropland gain from trees          799466 non-null  float64
 27  cropland loss to tree             799466 non-null  float64
 28  permanent water                   799466 non-null  float64
 29  short vegetation after tree loss  799466 non-null  float64
dtypes: float64(18), int64(1), object(11)
memory usage: 189.1+ MB

### Filtering only polygons less than 10000kmsq

In [230]:

gdf_filtered = df_reforestation[df_reforestation['site_sqkm'] < 10000]
gdf_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 799448 entries, 0 to 830801
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        799448 non-null  float64
 1   country                           794203 non-null  object
 2   description_reported              2468 non-null    object
 3   host_name                         799448 non-null  object
 4   planting_date_reported            765629 non-null  object
 5   project_id_reported               798111 non-null  object
 6   site_id_reported                  799013 non-null  object
 7   site_sqkm                         799448 non-null  float64
 8   survival_rate_reported            522 non-null     float64
 9   trees_planted_reported            10380 non-null   float64
 10  url                               799448 non-null  object
 11  geometry_reported                 799448 non-null  object
 12  Top_Three_NDVI_Months             799448 non-null  object
 13  species_planted_reported          264 non-null     object
 14  species_count_reported            0 non-null       float64
 15  built_area                        799448 non-null  float64
 16  intersecting_roads_count          799448 non-null  int64
 17  total_road_length_km              799448 non-null  float64
 18  loss_pre_5                        764744 non-null  float64
 19  loss_post_3                       748225 non-null  float64
 20  loss_post_5                       748225 non-null  float64
 21  tree_cover_area_2020              799448 non-null  float64
 22  tree_cover_area_2015              799448 non-null  float64
 23  tree_cover_area_2010              799448 non-null  float64
 24  tree_cover_area_2005              799448 non-null  float64
 25  tree_cover_area_2000              799448 non-null  float64
 26  cropland gain from trees          799448 non-null  float64
 27  cropland loss to tree             799448 non-null  float64
 28  permanent water                   799448 non-null  float64
 29  short vegetation after tree loss  799448 non-null  float64
dtypes: float64(19), int64(1), object(10)
memory usage: 189.1+ MB

### Dropping duplicates

In [232]:
gdf_filtered.drop_duplicates('geometry_reported', inplace = True)

/tmp/ipykernel_1033240/1712958370.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [233]:
gdf_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 783316 entries, 0 to 830801
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        783316 non-null  float64
 1   country                           778081 non-null  object
 2   description_reported              2447 non-null    object
 3   host_name                         783316 non-null  object
 4   planting_date_reported            749563 non-null  object
 5   project_id_reported               781982 non-null  object
 6   site_id_reported                  782891 non-null  object
 7   site_sqkm                         783316 non-null  float64
 8   survival_rate_reported            509 non-null     float64
 9   trees_planted_reported            9904 non-null    float64
 10  url                               783316 non-null  object
 11  geometry_reported                 783316 non-null  object
 12  Top_Three_NDVI_Months             783316 non-null  object
 13  species_planted_reported          264 non-null     object
 14  species_count_reported            0 non-null       float64
 15  built_area                        783316 non-null  float64
 16  intersecting_roads_count          783316 non-null  int64
 17  total_road_length_km              783316 non-null  float64
 18  loss_pre_5                        748681 non-null  float64
 19  loss_post_3                       732164 non-null  float64
 20  loss_post_5                       732164 non-null  float64
 21  tree_cover_area_2020              783316 non-null  float64
 22  tree_cover_area_2015              783316 non-null  float64
 23  tree_cover_area_2010              783316 non-null  float64
 24  tree_cover_area_2005              783316 non-null  float64
 25  tree_cover_area_2000              783316 non-null  float64
 26  cropland gain from trees          783316 non-null  float64
 27  cropland loss to tree             783316 non-null  float64
 28  permanent water                   783316 non-null  float64
 29  short vegetation after tree loss  783316 non-null  float64
dtypes: float64(19), int64(1), object(10)
memory usage: 185.3+ MB

#### Converting all columns to Kmsq unit

In [235]:

columns_to_convert = ["loss_post_3", "loss_post_5", "loss_pre_5", "built_area"]
for column in columns_to_convert:
    gdf_filtered[column] = gdf_filtered[column] / 1_000_000

gdf_filtered.info()

/tmp/ipykernel_1033240/854236438.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
Index: 783316 entries, 0 to 830801
Data columns (total 30 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        783316 non-null  float64
 1   country                           778081 non-null  object
 2   description_reported              2447 non-null    object
 3   host_name                         783316 non-null  object
 4   planting_date_reported            749563 non-null  object
 5   project_id_reported               781982 non-null  object
 6   site_id_reported                  782891 non-null  object
 7   site_sqkm                         783316 non-null  float64
 8   survival_rate_reported            509 non-null     float64
 9   trees_planted_reported            9904 non-null    float64
 10  url                               783316 non-null  object
 11  geometry_reported                 783316 non-null  object
 12  Top_Three_NDVI_Months             783316 non-null  object
 13  species_planted_reported          264 non-null     object
 14  species_count_reported            0 non-null       float64
 15  built_area                        783316 non-null  float64
 16  intersecting_roads_count          783316 non-null  int64
 17  total_road_length_km              783316 non-null  float64
 18  loss_pre_5                        748681 non-null  float64
 19  loss_post_3                       732164 non-null  float64
 20  loss_post_5                       732164 non-null  float64
 21  tree_cover_area_2020              783316 non-null  float64
 22  tree_cover_area_2015              783316 non-null  float64
 23  tree_cover_area_2010              783316 non-null  float64
 24  tree_cover_area_2005              783316 non-null  float64
 25  tree_cover_area_2000              783316 non-null  float64
 26  cropland gain from trees          783316 non-null  float64
 27  cropland loss to tree             783316 non-null  float64
 28  permanent water                   783316 non-null  float64
 29  short vegetation after tree loss  783316 non-null  float64
dtypes: float64(19), int64(1), object(10)
memory usage: 185.3+ MB

#### Creating unique site and projects Ids

In [243]:

gdf_filtered['created_site_ids'] = ['reforest_site_{}'.format(i) for i in range(1, len(gdf_filtered) + 1)]


unique_project_ids = gdf_filtered['project_id_reported'].unique()
project_id_mapping = {id: 'reforest_proj_{}'.format(i) for i, id in enumerate(unique_project_ids, 1)}


gdf_filtered['created_project_ids'] = gdf_filtered['project_id_reported'].map(project_id_mapping)

/tmp/ipykernel_1033240/1863126977.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_1033240/1863126977.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [244]:
gdf_filtered.drop(columns=['Unnamed: 0'], inplace=True)

/tmp/ipykernel_1033240/3327370606.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [248]:
gdf_filtered.describe()

,site_sqkm,survival_rate_reported,trees_planted_reported,species_count_reported,built_area,intersecting_roads_count,total_road_length_km,loss_pre_5,loss_post_3,loss_post_5,tree_cover_area_2020,tree_cover_area_2015,tree_cover_area_2010,tree_cover_area_2005,tree_cover_area_2000,cropland gain from trees,cropland loss to tree,permanent water,short vegetation after tree loss
count,783316.000000,509.000000,9.904000e+03,0.0,783316.000000,783316.000000,783316.000000,748681.000000,732164.000000,732164.000000,783316.000000,783316.000000,783316.000000,783316.000000,783316.000000,783316.000000,783316.000000,783316.000000,783316.000000
mean,0.472155,85.518664,3.070962e+04,NaN,0.000831,0.035077,0.082867,0.001023,0.000755,0.000747,0.148973,0.152329,0.155004,0.155740,0.156679,0.003949,0.000640,0.007466,0.009903
std,37.623804,9.018908,4.867763e+05,NaN,0.107083,3.538190,9.940376,0.153744,0.146030,0.145661,14.891995,15.244729,15.618812,15.748442,15.825764,0.674029,0.096137,2.717587,1.285626
min,0.000000,50.000000,0.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.001300,80.000000,4.100000e+01,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.003745,90.000000,9.500000e+01,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.016032,92.000000,2.720000e+02,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000049,0.000067,0.000033,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9284.127800,100.000000,1.404916e+07,NaN,52.600000,2442.000000,5114.442292,78.874034,111.699111,111.699111,6167.121421,6323.888350,6474.590492,6468.749846,6506.701975,354.867350,64.076854,2164.506321,497.133370

In [249]:
gdf_filtered["Top_Three_NDVI_Months"]

0           [5, 3, 4]
1           [5, 3, 6]
2          [4, 8, 12]
3          [8, 4, 12]
4           [3, 4, 8]
             ...
830797      [4, 6, 7]
830798      [6, 5, 7]
830799      [6, 5, 7]
830800     [6, 7, 12]
830801    [7, 12, 11]
Name: Top_Three_NDVI_Months, Length: 783316, dtype: object

In [251]:


def convert_geometry(geo_json):
    if pd.isna(geo_json):
        return None
    if isinstance(geo_json, str):
        try:
            geo_json = eval(geo_json)
        except:
            return None
    try:
        return shape(geo_json)
    except:
        return None

gdf_filtered['Top_Three_NDVI_Months'] = gdf_filtered['Top_Three_NDVI_Months'].apply(lambda x: str(x))

gdf_filtered['geometry'] = gdf_filtered['geometry_reported'].apply(convert_geometry)

gdf_filtered = gdf_filtered.dropna(subset=['geometry'])

gdf_filtered = gpd.GeoDataFrame(gdf_filtered, geometry='geometry')

gdf_filtered.to_file("df_reforestation.geojson", driver="GeoJSON")

/tmp/ipykernel_1033240/1331611758.py:19: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_1033240/1331611758.py:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [252]:
gdf_filtered.to_file("df_reforestation.gpkg", driver="GPKG")

In [50]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import shape
import plotly.express as px
import json

def convert_to_geometry(geojson_str):
    if geojson_str == '{}':
        return None
    try:
        geojson_obj = json.loads(geojson_str)
        if isinstance(geojson_obj, dict): 
            return shape(geojson_obj)
        else:
            return None
    except json.JSONDecodeError:
        return None


df_reforestation['geometry'] = df_reforestation['geometry_reported'].apply(convert_to_geometry)
gdf_sites = gpd.GeoDataFrame(df_reforestation, geometry='geometry')


gdf_sites.crs = "EPSG:4326"

world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))


gdf_sites_with_country = gpd.sjoin(gdf_sites, world, how="left", predicate='intersects')


gdf_sites_with_country['area_km2'] = gdf_sites_with_country.to_crs(epsg=3395).area / 10**6


country_area_covered = gdf_sites_with_country.groupby('name')['area_km2'].sum().reset_index(name='total_area_km2')

world_with_area_covered = world.merge(country_area_covered, how="left", left_on="name", right_on="name")


world_with_area_covered['total_area_km2'] = world_with_area_covered['total_area_km2'].fillna(0)


fig = px.choropleth(world_with_area_covered,
                    locations="iso_a3",
                    color="total_area_km2",
                    hover_name="name",
                    color_continuous_scale=px.colors.sequential.Viridis,
                    title="Global Reforestation Area Covered (kmÂ²)")

fig.show()

/tmp/ipykernel_12232/4122514515.py:26: FutureWarning:

The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.

In [51]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go


fig = make_subplots(rows=1, cols=2, column_widths=[0.7, 0.3], 
                    specs=[[{"type": "choropleth"}, {"type": "table"}]])

fig.add_trace(
    px.choropleth(world_with_area_covered,
                  locations="iso_a3",
                  color="total_area_km2",
                  hover_name="name",
                  color_continuous_scale=px.colors.sequential.Viridis).data[0],
    row=1, col=1
)


table_data = world_with_area_covered[['name', 'total_area_km2']].sort_values(by='total_area_km2', ascending=False)

fig.add_trace(
    go.Table(
        header=dict(values=["Country", "Total Area Covered (kmÂ²)"],
                    fill_color='paleturquoise',
                    align='left'),
        cells=dict(values=[table_data.name, table_data.total_area_km2],
                   fill_color='lavender',
                   align='left')),
    row=1, col=2
)


fig.update_layout(
    title_text="Global Reforestation Area Covered (kmÂ²) with Data Table",
    showlegend=False
)

fig.show()