#### Plant_planet_data

In [31]:
import pandas as pd
df_plant=pd.read_csv("/home/idisc02/Forest_Monitoring/input/PLANT_PLANET_CSV.csv",encoding='latin-1')
df_plant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       795 non-null    object
 1   site_id_reported          0 non-null      float64
 2   trees_planted_reported    795 non-null    int64
 3   country                   793 non-null    object
 4   description_reported      795 non-null    object
 5   planting_date_reported    519 non-null    object
 6   survival_rate_reported    546 non-null    float64
 7   geometry_reported         775 non-null    object
 8   site_sqkm                 775 non-null    float64
 9   species_planted_reported  0 non-null      float64
 10  species_count_reported    0 non-null      float64
dtypes: float64(5), int64(1), object(5)
memory usage: 68.4+ KB

#### Tree_Nation

In [13]:
df_nation=pd.read_csv("/home/idisc02/Forest_Monitoring/input/TREE_NATION.csv",encoding='latin-1')
df_nation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   planting_date_reported    376 non-null    object
 1   description_reported      374 non-null    object
 2   site_id_reported          376 non-null    int64
 3   project_id_reported       376 non-null    int64
 4   trees_planted_reported    376 non-null    int64
 5   geometry_reported         376 non-null    object
 6   site_sqkm                 375 non-null    float64
 7   country                   360 non-null    object
 8   survival_rate_reported    0 non-null      float64
 9   species_count_reported    0 non-null      float64
 10  species_planted_reported  0 non-null      float64
dtypes: float64(4), int64(3), object(4)
memory usage: 32.4+ KB

#### Open_Forest_protocol

In [11]:
df_ofp=pd.read_csv("/home/idisc02/Forest_Monitoring/input/OPF.csv")
df_ofp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          112 non-null    int64
 1   project_id_reported       112 non-null    int64
 2   survival_rate_reported    0 non-null      float64
 3   species_planted_reported  0 non-null      float64
 4   trees_planted_reported    0 non-null      float64
 5   species_count_reported    0 non-null      float64
 6   planting_date_reported    0 non-null      float64
 7   country                   112 non-null    object
 8   geometry_reported         112 non-null    object
 9   site_sqkm                 112 non-null    float64
 10  description_reported      112 non-null    object
dtypes: float64(6), int64(2), object(3)
memory usage: 9.8+ KB

#### Komaza verra_Project

In [15]:
df_komaza=pd.read_csv("/home/idisc02/Forest_Monitoring/input/Komaza.csv")
df_komaza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23197 entries, 0 to 23196
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          23197 non-null  object
 1   planting_date_reported    23197 non-null  int64
 2   geometry_reported         23196 non-null  object
 3   site_sqkm                 23197 non-null  float64
 4   project_id_reported       0 non-null      float64
 5   description_reported      0 non-null      float64
 6   trees_planted_reported    0 non-null      float64
 7   survival_rate_reported    0 non-null      float64
 8   species_count_reported    0 non-null      float64
 9   species_planted_reported  0 non-null      float64
 10  country                   22657 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 1.9+ MB

#### TIST data_with_trees_planted

In [16]:
df_tist=pd.read_csv("/home/idisc02/Forest_Monitoring/input/TIST_Meta.csv")
df_tist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11301 entries, 0 to 11300
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       0 non-null      float64
 1   site_id_reported          11301 non-null  object
 2   geometry_reported         11300 non-null  object
 3   planting_date_reported    11056 non-null  object
 4   trees_planted_reported    11301 non-null  int64
 5   description_reported      0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   site_sqkm                 11055 non-null  float64
 10  country                   11301 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 971.3+ KB

#### TIST data_without_trees_planted

In [17]:
df_tist_w=pd.read_csv("/home/idisc02/Forest_Monitoring/input/TIST_Meta_without_trees.csv")
df_tist_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13016 entries, 0 to 13015
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       0 non-null      float64
 1   site_id_reported          13016 non-null  object
 2   geometry_reported         13015 non-null  object
 3   country                   13016 non-null  object
 4   site_sqkm                 0 non-null      float64
 5   description_reported      0 non-null      float64
 6   planting_date_reported    0 non-null      float64
 7   trees_planted_reported    0 non-null      float64
 8   survival_rate_reported    0 non-null      float64
 9   species_count_reported    0 non-null      float64
 10  species_planted_reported  0 non-null      float64
dtypes: float64(8), object(3)
memory usage: 1.1+ MB

#### ASIA_VERRA

In [23]:
df_asia=pd.read_csv("/home/idisc02/Forest_Monitoring/input/concatenated_df_Asia.csv")
df_asia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43628 entries, 0 to 43627
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          0 non-null      float64
 1   project_id_reported       0 non-null      float64
 2   geometry_reported         43611 non-null  object
 3   description_reported      0 non-null      float64
 4   planting_date_reported    0 non-null      float64
 5   trees_planted_reported    0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   country                   43610 non-null  object
 10  site_sqkm                 43628 non-null  float64
dtypes: float64(9), object(2)
memory usage: 3.7+ MB

#### VERRA Latin America

In [22]:
df_latin=pd.read_csv("/home/idisc02/Forest_Monitoring/input/concatenated_latin_df.csv")
df_latin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geometry_reported         407 non-null    object
 1   site_id_reported          0 non-null      float64
 2   project_id_reported       0 non-null      float64
 3   description_reported      0 non-null      float64
 4   planting_date_reported    0 non-null      float64
 5   trees_planted_reported    0 non-null      float64
 6   survival_rate_reported    0 non-null      float64
 7   species_count_reported    0 non-null      float64
 8   species_planted_reported  0 non-null      float64
 9   country                   407 non-null    object
 10  site_sqkm                 407 non-null    float64
dtypes: float64(9), object(2)
memory usage: 35.1+ KB

#### TIST other areas projects

In [24]:
df_other=pd.read_csv("/home/idisc02/Forest_Monitoring/input/OTHER_verra_projects.csv")
df_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   geometry_reported         270 non-null    object
 1   site_id_reported          270 non-null    int64
 2   species_planted_reported  270 non-null    object
 3   planting_date_reported    270 non-null    object
 4   project_id_reported       0 non-null      float64
 5   description_reported      0 non-null      float64
 6   trees_planted_reported    0 non-null      float64
 7   survival_rate_reported    0 non-null      float64
 8   species_count_reported    0 non-null      float64
 9   site_sqkm                 270 non-null    float64
 10  country                   270 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 23.3+ KB

#### Restor eco data

In [25]:
df_eco=pd.read_csv("/home/idisc02/Forest_Monitoring/input/Restor_Eco/restor_eco.csv")
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   site_id_reported          1540 non-null   object
 1   description_reported      1540 non-null   object
 2   geometry_reported         1518 non-null   object
 3   site_sqkm                 1540 non-null   float64
 4   country                   1540 non-null   object
 5   planting_date_reported    1540 non-null   object
 6   project_id_reported       0 non-null      float64
 7   trees_planted_reported    0 non-null      float64
 8   survival_rate_reported    0 non-null      float64
 9   species_planted_reported  0 non-null      float64
 10  species_count_reported    0 non-null      float64
dtypes: float64(6), object(5)
memory usage: 132.5+ KB

#### Explorer Data

In [36]:
df_ex=pd.read_csv("/home/idisc02/Forest_Monitoring/input/ExplorerLand/explorer_land.csv")
df_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       0 non-null      float64
 1   country                   0 non-null      float64
 2   planting_date_reported    20 non-null     float64
 3   species_count_reported    0 non-null      float64
 4   species_planted_reported  0 non-null      float64
 5   survival_rate_reported    0 non-null      float64
 6   site_sqkm                 11 non-null     float64
 7   trees_planted_reported    19 non-null     float64
 8   site_id_reported          21 non-null     object
 9   geometry_reported         21 non-null     object
 10  description_reported      21 non-null     object
dtypes: float64(8), object(3)
memory usage: 1.9+ KB

### Combining the datasets

In [37]:
dfs = [df_plant,df_nation,df_asia,df_eco,df_ex,df_komaza,df_latin,df_ofp,df_other,df_tist,df_tist_w]

In [38]:

reference_order = dfs[0].columns.tolist()
reordered_dfs = [df[reference_order] for df in dfs]

In [42]:
df_reforestation= pd.concat(reordered_dfs, ignore_index=True)
df_reforestation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94663 entries, 0 to 94662
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id_reported       1283 non-null   object
 1   site_id_reported          49833 non-null  object
 2   trees_planted_reported    12491 non-null  float64
 3   country                   94066 non-null  object
 4   description_reported      2842 non-null   object
 5   planting_date_reported    36978 non-null  object
 6   survival_rate_reported    546 non-null    float64
 7   geometry_reported         94601 non-null  object
 8   site_sqkm                 81370 non-null  float64
 9   species_planted_reported  270 non-null    object
 10  species_count_reported    0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 7.9+ MB

In [41]:
df_reforestation.to_csv('/home/idisc02/Forest_Monitoring/input/Baseline_reforestation.csv', index=False)